body, html {
  font-family: 'Oswald', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

h1 {
  margin-top: 2%;
  margin-bottom: 3%;
  color: white;
  font-family: 'Oswald', sans-serif;;
  text-decoration: underline;
  text-shadow: 1px 1px 2px black, 0 0 25px #00ffff, 0 0 8px #002A56;
  @media screen and (max-width: 700px) {
    text-align: center;
  }

}
h4 {
  text-decoration: underline;
  
}

p {
  padding: 1%;
}

a {
  margin: 5% 0;
  text-align: center;
}

.fb {
  color: white;

}

i {
  
  padding: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
}

span {
  font-size: medium;
}

.description2 {
  color: #002A56;
  margin: 0 5%;
  font-size: 1.4rem;
  text-align: left;
  
  
}

.description {
  color: white;
  margin: 0 5%;
  font-size: 1.4rem;
  text-align: left;
}

a {
  margin: 2% 0;
  color: white;
  text-decoration: none;
}

input {
  height: 55px;
  border-radius: 7px;
  margin: 2%;
  width: 80%;
  font-size: x-large;
}
.nme {
  margin-top: 7%;
}

textarea {
  height: 150px;
  border-radius: 7px;
  margin: 2%;
  width: 80%;
  font-size: 24px;
}

.link {
  color: white;
  width: 25%;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  height: 55px;
  border-radius: 7px;
  margin: 2%;
  width: 25%;
  font-size: x-large;
  color: #002A56;
  background-color: clear
}

.nav-wrap {
  display: flex;
  justify-content: space-between;
  background-color: #002A56;
  width: 100%;
  height: 50px;
  /* font-size: 1.7rem; */
  border-bottom: 1px solid goldenrod;
  position: sticky;
  top: 0;

}

::placeholder {
  font-size: x-large;
}

.selfie {
  width: 300px;
  
  border-radius: 12px;
  align-items: center;
}

.logo {

  background-image: url('./assets/code-rain.gif');
  height: 95vh;
  max-width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center ;
  background-size: cover; 

}

.port-img {
  
  margin-top: 15%;
  width: 500px;
  height: 500px;
  justify-content: center;
  
}

.projects {
  border-top: 1px solid white;
}


.hamburger-react {
  margin-left: 5%;
  z-index: 99;
  
  
}

.skills {
  background-color: #002A56;
}

.icons {
  margin: 0 3%;
  
}

.icon-wrap {
  margin-right: 5%;
  width: 200px;
}

.image-text {
  position: absolute;
  
}
#contact {
  text-align: center;
  height: 50px;
}

#form {
  background-color: #002A56;
}

#bubble {
  justify-content: center;
  width: 120px;
  height: 80px;
  background:  #002A56;
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
#bubble:before {
  justify-content: center;
  content: "";
  position: absolute;
  right: 100%;
  top: 26px;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 26px solid  #002A56;
  border-bottom: 13px solid transparent;
}

#bWrap {
  padding: 10%;
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#img-h3 {
  margin: 0;
}

#bio {
  
  width: 65%;
  text-align: center;
  margin: 0;
  font-size: 1.1rem;
  text-shadow: none;
  color:#002A56; 
}

#image-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}